.adresse {
    max-width: 40%;
    box-shadow: var(--ombre);
    gap: 1rem;
    padding: 1.2rem 0.8rem;
    overflow: hidden;
}

#facebook {
    text-decoration: underline;
}

#horaires, #coordonnees {
    margin-bottom: 4.4rem;
}

.horaires {
    gap: 2rem;
}

.horaire {
    width: 266px;
    height: 100px;
    box-shadow: var(--ombre);
    gap: 1rem;
    padding: 1.2rem 0.8rem;
    overflow: hidden;
    margin-bottom: 2rem;
    white-space: nowrap;
}

.horaire ul {
    height: 100%;
}